---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9"><url><loc>{{ site.url }}/</loc></url><url><loc>{{ site.url }}/articulos/</loc></url><url><loc>{{ site.url }}/videos/</loc></url><url><loc>{{ site.url }}/sobre/</loc></url><url><loc>{{ site.url }}/contacto/</loc></url><url><loc>{{ site.url }}/privacidad/</loc></url><url><loc>{{ site.url }}/terminos/</loc></url>{% for post in collections.posts %}<url><loc>{{ site.url }}{{ post.url }}</loc></url>{% endfor %}</urlset>
