---
layout: base.njk
title: Sobre PARALOGIA
permalink: /sobre/index.html
---

<section class="section">
  <div class="container">
    <div class="page-box">

      <h1>{{ paginas.sobre.titulo }}</h1>

      <p>{{ paginas.sobre.texto1 }}</p>

      <p>{{ paginas.sobre.texto2 }}</p>

    </div>
  </div>
</section>
